# CMake and Makefile-related ignores
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.make
build/
*.cmake
!CMakeLists.txt
!*.cmake.in
cmake-build-debug/
jordan/
obj/
tests/program-outputs/*.txt

# Ignore object files and static libraries
*.o
*.a
*.so
*.dylib
*.lib

# Executable files
*.exe
*.out
main

# Debug files
*.pdb
*.ilk

# Backup files
*~
*.swp

# Folder view configuration files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace

# Other build systems' temporary files
*.sdf
*.suo
*.user
*.userprefs
*.pidb
*.booproj
.ipch/
